# Question 1: Version of Pandas

In [31]:
import pandas as pd

pandas_version = pd.__version__
print('Pandas version:', pandas_version)

Pandas version: 2.0.3

# Question 2: Number of columns in the dataset

In [32]:
data_frame = pd.read_csv('housing.csv')

num_columns = data_frame.shape[1]
print(f'Number of columns: {num_columns}')

Number of columns: 10

# Question 3: Select columns with missing data

In [33]:
missing_values = data_frame.isnull().sum()

print('Columns with missing values:')
print(missing_values[missing_values > 0])

Columns with missing values:
total_bedrooms    207
dtype: int64

# Question 4: Number of unique values in the 'ocean_proximity' column

In [34]:
unique_values_count = data_frame['ocean_proximity'].nunique()
print('Number of unique values in the "ocean_proximity" column:', unique_values_count)

Number of unique values in the "ocean_proximity" column: 5

## Question 5: Average value of the 'median_house_value' for the houses near the bay

In [35]:
houses_near_bay = data_frame[data_frame['ocean_proximity'] == 'NEAR BAY']
average_median_house_value_near_bay = houses_near_bay['median_house_value'].mean()

print('Average median house value for houses near the bay:', average_median_house_value_near_bay)

Average median house value for houses near the bay: 259212.31179039303

# Question 6: Has the mean value changed after filling missing values?

In [36]:
data_frame['total_bedrooms'].fillna(0, inplace=True)
mean_median_house_value_after_fill = data_frame['median_house_value'].mean()

print('Mean median house value after filling missing values in total_bedrooms with 0:', mean_median_house_value_after_fill)

Mean median house value after filling missing values in total_bedrooms with 0: 206855.81690891474

# Questions 7: Value of the last element of w

In [38]:
import numpy as np
from sklearn.linear_model import LinearRegression

data = pd.read_csv('housing.csv')

#1. Select all the options located on islands.
island_data = data[data['ocean_proximity'] == 'ISLAND']

# 2. Select only columns housing_median_age, total_rooms, total_bedrooms.
selected_data = island_data[['housing_median_age', 'total_rooms', 'total_bedrooms']]

# 3. Get the underlying NumPy array. Let's call it X.
X = selected_data.values

# 4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. 
# Let's call the result XTX.
#
XTX = np.dot(X.T, X)

# 5. Compute the inverse of XTX:
XTX_inverse = np.linalg.inv(XTX)

# 6. Create an array y with values [950, 1300, 800, 1000, 1300].
Y = np.array([950, 1300, 800, 1000, 1300])

# 7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inverse.dot(X.T).dot(Y)
w[-1]

5.6992294550655656